# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/

# Unit test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Linters / formatters / tooling caches
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# IDEs / editors
.vscode/me
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local env files
.env
.env.*
!.env.sample
